@import 'styles.scss';

.footer {
    padding: 40px;
    color: $primary;
    text-align: left;
    margin-top: 20px;
    background-image: url("assets/img/almayaaas-min.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: contain;
  
    .font {
      margin-top: 50px;
      h1 {
        font-size: 23px;
        margin-bottom: 20px;
      }
      p {
        margin: 0px;
        margin-bottom: 10px;
        span {
          font-weight: bold;
        }
      }
      .subscribe-input {
        max-width: 400px;
        margin: auto;
        .input-text {
          border-radius: 0px;
          padding: 25px;
          border: none;
        }
      }
      .subscribe-button {
        button {
          background-color: $primary;
          border: none;
          border-radius: 0px;
        }
      }
    }
    hr {
      border-color: #1e1c1c;
    }
    .accept {
      h1 {
        font-size: 20px;
      }
    }
    .copy-right {
      color: #a09999;
    }
  }