<div class="footer">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="footer-contact font">
                <h1>Contact Info</h1>
                <p> <span> Phone:</span> +9 (509) 120 6705</p>
                <p><span> Address:</span> Kuwait City.</p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="footer-help font">
                <h1>Get Help</h1>
                <p>Delivery Information</p>
                <p>Sale Terms & Conditions</p>
                <p>Returns & Refunds</p>
                <p>Privacy Notice</p>
                <p>Shopping FAQs</p>

            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6">
        </div>



        <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="email-adress font">
                <h1>Let’s stay in touch
                </h1>
                <div class="input-group mb-3 subscribe-input">
                    <input type="text" class="form-control input-text " placeholder="Enter your email address"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append subscribe-button">
                        <button class="btn btn-secondary" type="button">Subscribe</button>
                    </div>
                </div>
                <p>Keep up to date with our latest
                    news and special offers.</p>

            </div>
        </div>
    </div>
    <div class="accept">
        <h1>We accept:</h1> <br>

    </div>
    <hr>
    <div class="d-flex justify-content-space-between copy-right">

        <div class="">
            <p class="text">© 2020, Almayas Website. Made with passion </p>
        </div>
        <div class="">
            <p class="text"> All Rights Reserved. </p>
        </div>
    </div>
</div>