<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Change Password</h4>
                        <p class="category"></p>
                    </div>
                    <div class="card-content">
                        <form (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Old Password</label>
                                        <input type="password" [(ngModel)]="payload.old_password" name="oldPassword" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">New Password</label>
                                        <input type="password" [(ngModel)]="payload.new_password" name="newPassword" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Confirm New Password</label>
                                        <input type="password" [(ngModel)]="payload.new_password_confirmation" name="confirmpassword" class="form-control">
                                    </div>
                                </div>
                                <div *ngIf="errorMsgs">
                                    <label for="example_input_full_name" class="text-danger">
                                        Error Messages:
                                    </label>
                                    <span class="m-form__help text-danger d-block" *ngFor="let err of errorMsgs | objectArray">
                                        <br>{{err}}:&nbsp;{{errorMsgs[err][0]}} 
                                    </span>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success pull-right">Change Password</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>