<!-- start sceion-one -->
<div class="info-section">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="personal-info">

            <div class="title">
                <h1>Personal Info</h1>
            </div>

            <div class="formula">
                <div class="form-group row mb-5 mt-4">
                    <label class="col-lg-4 col-12 col-form-label ">Username</label>
                    <div class="col-lg-8 col-12">
                        <input type="text" class="form-control border-ridus" id="inputtext" placeholder="My name is…">
                    </div>
                </div>


                <div class="form-group row mb-5">
                    <label class="col-lg-4 col-12 col-form-label font-15 ">Mobile Number</label>
                    <div class="col-lg-8 col-12">
                        <input type="text" class="form-control border-ridus" id="inputnumber" placeholder="+9">
                    </div>
                </div>

                <div class="form-group row mb-5">
                    <label for="inputPassword4" class="col-lg-4 col-12 col-form-label ">Password</label>
                    <div class="col-lg-8 col-12">
                        <input type="password" class="form-control border-ridus" id="inputPassword4"
                            placeholder="*********">
                    </div>
                </div>



                <div class="form-group row mb-5">
                    <label for="inputPassword" class="col-lg-4 col-12 col-form-label ">Confirm Pas.</label>
                    <div class="col-lg-8 col-12">
                        <input type="password" class="form-control border-ridus" id="inputconfirm"
                            placeholder="*******">
                    </div>
                </div>


                <div class="form-group row mb-5">
                    <label class="col-lg-4 col-12 col-form-label ">Address</label>
                    <div class="col-lg-8 col-12">
                        <input type="text" class="form-control border-ridus" id="inputtext" placeholder="Write here..">
                    </div>
                </div>

                <div class="form-group row mb-5">
                    <label class="col-lg-4 col-12 col-form-label ">Area</label>
                    <div class="col-lg-8 col-12">
                        <input type="text" class="form-control border-ridus" id="inputtext" placeholder="Write here..">
                    </div>
                </div>

                <div class="form-group row mb-5">
                    <label class="col-lg-4 col-12 col-form-label ">Street</label>
                    <div class="col-lg-8 col-12">
                        <input type="text" class="form-control border-ridus" id="inputtext" placeholder="Write here..">
                    </div>
                </div>

                <div class="form-group row mb-5">
                    <label class="col-lg-4 col-12 col-form-label ">Building - Floor</label>
                    <div class="col-lg-8 col-12">
                        <input type="text" class="form-control border-ridus" id="inputtext" placeholder="Write here..">
                    </div>
                </div>



                <button class="btn btn-lg Continue">Done</button>
            </div>
        </div>
    </div>
</div>

<!-- end sceion-one -->