<header id="home">
    <div class="container payment-form">
        <h3 class="text-center" style="color: white;">
            Payment
        </h3>
        <div class="value">
            <h5 style="color: white;">
                $320
            </h5>
        </div>
        <br>
        <div class="container payment-img">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2 master">
                   
                </div>
                <div class="col-md-2 knet">
                   
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
               
            </div>
            <br>
            <div class="form-group row">
                <div class="col-xs-12 card-info">
                    <label for="ex1"><p>Card Number</p></label>
                    <input class="form-control" id="ex1" type="text" required>
                  </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 card-info">
                    <label for="ex1"><p>Card Holder</p></label>
                    <input class="form-control" id="ex1" type="text" required>
                  </div>
            </div>
            <div class="form-group row last-inputs">
                <div class="col-xs-8 card-exp">
                    <label for="ex1"><p>Exp Date</p></label>
                    <input class="form-control" id="ex1" type="month" required>
                  </div>
                <div class="col-xs-4 card-cvv">
                    <label for="ex1"><p>CVV</p></label>
                    <input class="form-control" id="ex1" type="text" max="3" required>
                  </div>
            </div>
            <br>
            <div class="container">
                <button type="button" class="btn btn-primary">Done</button>
            </div>
        </div>
    </div>
</header>