$primary: #b79b6c;
.first-part {
  background-image: url(assets/img/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 400px;
  .block {
    backdrop-filter: blur(100px);
    z-index: 1;
    background: transparent;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    .nav-container {
      width: 100%;
      padding: 0 40px;
      display: flex;
      align-items: center;
    }
    .navbar-middle{
      justify-content: center;
      display: flex;
    }
  }
}
.navbar-nav {
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 70%;
  li {
    margin: 0 10px;
    text-align: center;
    flex-grow: 1;
    width: 130px;
  }
}
.right-form {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  p {
    color: $primary;
  }
}
.left-form {
  width: 100px;
}

.pos-rel1 {
  color: $primary;
}

.pos-rel2 {
  color: #474646;
}

.navbar-collapse {
  ul {
    li {
      a {
        color: #fff;
        font-size: 15px;
        text-transform: capitalize;
      }
    }
  }
}

.navbar-collapse {
  ul {
    .logos {
      margin-top: -10px;
    }
  }
}
// end nav bar

.first-part {
  .log {
    text-align: center;
  }
}
.first-part {
  .log {
    .content {
      text-align: right;
    }
  }
}

.shape {
  margin-top: 50px;
  text-align: center;
}
.shape {
  i {
    color: $primary;
    padding: 7px;
    background-color: #474646;
    border-radius: 50%;
  }
}


.mr-t {
  margin-top: 30px;
}

.words {
  p {
    font-size: 20px;
    color: #d1bfa2;
    margin: 0px;
    padding: 0px;
  }
}

.words {
  h1 {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }
}
.words {
  h1 {
    span {
      color: #b79b6c;
    }
  }
}
.button {
  padding-left: 45px;
}
.button {
  button {
    background-color: $primary !important;
    color: #ffffff;
  }
}

.second {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 30px;
  color: #333;
  font-family: sans-serif;
  padding: 1rem 2rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 30px;
}
// backdrop-filter: blur(3px);
.second {
  .pic2 {
    background-image: url(assets/img/prefums.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 392px;
    padding: 10px;
    margin-top: 20px;
  }
}

.third {
  .pic2 {
    background-image: url(assets/img/Item1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 10px;
    position: relative;
  }
}

.second {
  .pic2 {
    span {
      margin: 0px;
      padding: 3px 10px;
      background-color: $primary;
      border-radius: 10px;
      display: inline-block;
      color: #fff;
    }
  }
}
.second {
  .pic2 {
    .abs {
      position: absolute;
      bottom: 90px;
      left: 45px;
    }
  }
}
.second {
  .words {
    h2 {
      padding: 0px;
      margin: 0px;
      font-size: 20px;
      color: #fff;
    }
  }
}

.second {
  .words {
    h3 {
      padding: 0px;
      margin: 0px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
    }
  }
}
.second {
  .words {
    h3 {
      span {
        color: $primary;
        text-decoration: line-through;
      }
    }
  }
}

// start perfum type
.perfume-type {
  background-color: #eeeeee;
  padding: 20px 10px;
  .french-type{
      .french-photo{
        max-width: 300px;
        height: auto;
        position: relative;
        img{
            width: 100%;
        }
        span{
            position: absolute;
            padding: 3px 10px;
            background-color: $primary;
            border-radius: 10px;
            display: inline-block;
            color: #fff;
          
        }
        span.sale{
            left: 10px;
            top: 15px;
        }
        span.view{
            bottom: 10px;
            left: 20px;

        }
      }
      p{
         font-size: 20px;
         margin: 0px;
         margin-top: 10px;
      }
      h1{
        font-size: 25px;
        font-weight: bold;
        margin: 0px;

      }
      h2{
          font-size: 18px;
          margin: 0px;
       span{
         color: #aea4a4;
         text-decoration: line-through;
}
           }
  }


  .arabe-type{
    max-width: 250px;
    height: auto;
    position: relative;
    margin-top: 20px;
    img{
        width: 100%;
    }
  
    span.sale{
        left: 10px;
        top: 15px;
        position: absolute;
        padding: 3px 10px;
        background-color: $primary;
        border-radius: 10px;
        display: inline-block;
        color: #fff;
    }
  }
  p{
    font-size: 20px;
    margin: 0px;
    margin-top: 10px;
 }
 h1{
   font-size: 25px;
   font-weight: bold;
   margin: 0px;

 }
 h2{
     font-size: 18px;
     margin: 0px;
  span{
    color: #aea4a4;
    text-decoration: line-through;
      }
    }    
      
 .arrivals{
  

}
}



// end prefume type

@media (max-width:992px){
  .collapse:not(.show) {
    display: none !important;
  }
}

.subscribe-section{
  background-image: url('assets/img/cover.jpg');
  text-align: center;
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary;
  .subscribe{
    width: 50%;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    h3{
      font-weight: bold;
    }
    .subscribe-input{
        max-width: 400px;
        margin: auto;
        .input-text{
            border-radius: 0px;
            padding: 25px;
            border: none;
        }
        
    }
   .subscribe-button{
       button{
        background-color: $primary ;
        border: none;
        border-radius: 0px;

       }
   } 
  }
}




.oursite-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;  
    background-color: #1D1A1A;
    color: $primary;
    text-align: center;
    padding: 30px;
    .oursite{
        h1{
            font-size: 35px;
            font-weight: bold;
            span{
                color: #fff;
            }
        }
        p{
            font-size:25px ;
            span{
                color: #fff;
            }
        }
    }
    .our-logo{
        max-width: 600px;
        flex-grow: 1;

        img{
            width: 100%;
            height: auto;
        }
    }
    .social-media{
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            li{
                display: inline-block;
                margin: 0px 10px;
                i{
                    display: inline-block;
                    margin: 0px 10px;
                }
            }
        }
    }
}


.options-section{
    padding: 10px;
    .same{
        text-align: center;
        margin-top: 40px;
        i{
           font-size: 30px;
        }
        h1{
            font-size: 25px;
            font-weight: bold;
            margin: 20px 0px;        }
        p{
            font-size: 20px;
        }
    }
}

.footer{
    padding: 40px;
    color: $primary;
    text-align: left;
    margin-top: 20px;
    background-image: url("assets/img/MAYASss.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 700px 700px;   

    .font{
        margin-top: 50px;
        h1{
         font-size: 23px;
         margin-bottom: 20px;
        }
        p{
            margin: 0px;
            margin-bottom: 10px;
            span{
                font-weight: bold;
            }
        }
        .subscribe-input{
            max-width: 400px;
            margin: auto;
            .input-text{
                border-radius: 0px;
                padding: 25px;
                border: none;
            }
            
        }
       .subscribe-button{
           button{
            background-color: $primary ;
            border: none;
            border-radius: 0px;
    
           }
       } 
    }
     hr {
        border-color: #1e1c1c;
    }
    .accept{
        h1{
            font-size: 20px;
        }
    }
    .copy-right{
        color: #a09999;

    }


}



