<div class="first-part">
    <!-- start nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light block">
        <div class="nav-container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="left-form">
                <a class="navbar-brand" href="#"><i class="fa fa-search" aria-hidden="true" style="color: #fff"></i></a>
            </div>
            <div class="collapse navbar-collapse navbar-middle" id="navbarTogglerDemo03">
                <ul class="navbar-nav mt-2 mt-lg-0 p-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Perfumes</a>
                    </li>
                    <li class="nav-item logos">
                        <img src="assets/img/MAYASss.png" class="img-fluid" />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">New arrivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Best Seller</a>
                    </li>
                </ul>
            </div>
            <div class="right-form">
                <i class="far fa-heart pos-rel1"></i>
                <p class="m-0">o.oo5</p>
                <i class="fa fa-lock pos-rel2" aria-hidden="true"></i>
            </div>
        </div>
    </nav>
    <!-- end navbar -->
    <div class="container">
        <div class="log">
            <div class="content">
                <img src="assets/img/logo.png" width="500" height="500" />
            </div>
        </div>

        <div class="shape">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>

        <div class="data">
            <div class="row">
                <div class="col-lg-4">
                    <div class="first">
                        <div class="pic"></div>
                        <div class="words">
                            <p>Almayas perfume</p>
                            <h1>French perfumes from <span> $14.99</span></h1>
                        </div>
                        <div class="button">
                            <button type="button" class="btn btn-primary btn-sm">
                                Go shopping <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mr-t">
                    <div class="second">
                        <div class="pic2">
                            <span>SALE</span>
                            <span class="abs">Quick view</span>
                        </div>
                        <div class="words">
                            <h2>Women Perfume</h2>
                            <h3><span>250.00$</span> 120.00$</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="second">
                        <div class="pic2">
                            <span>SALE</span>
                        </div>
                        <div class="words">
                            <h2 style="margin-top: 30px">Almayas Perfume</h2>
                            <h2>Limited Edition - Almayas</h2>
                            <h3><span>139.00$</span> 68.00$</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end first part -->

<!-- start perfume-type -->
<div class="perfume-type">
    <div class="row">
        <div class="col-lg-4">
            <div class="french-type">
                <div class="french-photo">
                    <img src="assets/img/prefums.png" alt="">
                    <span class="sale">SALE</span>
                    <span class="view">Quick view</span>
                </div>
                <p>French Perfume</p>
                <h1>MYS 2020 limited edition</h1>
                <h2><span>89.00$</span> 27.00$</h2>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="arabe-type">
                <div class="arabe-photo">
                    <img src="assets/img/prefums.png" alt="">
                    <span class="sale">SALE</span>
                </div>
                <p>Arabe Perfume</p>
                <h1>2020 limited edition</h1>
                <h2><span>250.00$</span> 117.00$</h2>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="arrivals ">
                <p>New Arrival 2020</p>
                <h1>Elegant & magnification perfumes <br>form <span> $98.99</span></h1>
                <button type="button" class="btn btn-dark btn-sm">
                    Go shopping <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end sec part -->
<!-- <img src="assets/img/logo.png" -->
<div class="subscribe-section">
    <div class="subscribe">
        <h3 class="subscribe-title">Let’s stay in touch</h3>
        <p class="subscribe-pargraph mt-3">Enjoy 15% off your first order when you join our mailing list.</p>
        <div class="input-group mb-3 subscribe-input">
            <input type="text" class="form-control input-text " placeholder="Enter your email address"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append subscribe-button">
                <button class="btn btn-secondary" type="button">Subscribe</button>
            </div>
        </div>
        <p class="subscribe-info mt-3">We respect your privacy, so we never share your info.</p>
    </div>
</div>


<div class="oursite-section">
    <div class="oursite">
        <h1 class="oursite-share"><span>Share your home with</span> #Almayasperfumes</h1>
        <p> <i class="fab fa-instagram"></i>
            <span> Follow </span>@almayasperfums <span> for updates.</span></p>
    </div>
    <div class="our-logo">
        <img src="assets/img/logo.png" alt="">
    </div>
    <div class="social-media">
        <ul>
            <li> <i class="fab fa-instagram"></i>
                Instagram</li>
            <li><i class="fab fa-twitter"></i>>
                Twitter</li>
            <li><i class="fab fa-facebook-f"></i>
                Facebook</li>
            <li> <i class="fab fa-snapchat-ghost"></i>
                Snapchat</li>

        </ul>
    </div>
</div>

<div class="options-section mt-10">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12 ">
            <div class="pickup-shopping same">
                <i class="fas fa-money-check"></i> <br>
                <h1>Pickup at Store</h1>
                <p>Free shipping on orders over $65</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 ">
            <div class="free-returns same">
                <i class="fas fa-undo-alt"></i> <br>
                <h1>Free returns</h1>
                <p>30-days free return policy.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 ">
            <div class="secured-payment same">
                <i class="fas fa-lock"></i> <br>
                <h1>Secured payments</h1>
                <p>We accept all major credit cards.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 ">
            <div class="customer-service same">
                <i class="far fa-question-circle"></i> <br>
                <h1>Customer service</h1>
                <p>Top notch customer service.</p>
            </div>
        </div>

    </div>
</div>

<!-- start footer -->
<div class="footer ">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="footer-contact font">
                <h1>Contact Info</h1>
                <p> <span> Phone:</span> +9 (509) 120 6705</p>
                <p><span> Address:</span> Kuwait City.</p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="footer-help font">
                <h1>Get Help</h1>
                <p>Delivery Information</p>
                <p>Sale Terms & Conditions</p>
                <p>Returns & Refunds</p>
                <p>Privacy Notice</p>
                <p>Shopping FAQs</p>

            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6">
        </div>



        <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="email-adress font">
                <h1>Let’s stay in touch
                </h1>
                <div class="input-group mb-3 subscribe-input">
                    <input type="text" class="form-control input-text " placeholder="Enter your email address"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append subscribe-button">
                        <button class="btn btn-secondary" type="button">Subscribe</button>
                    </div>
                </div>
                <p>Keep up to date with our latest
                    news and special offers.</p>

            </div>
        </div>
    </div>
    <div class="accept">
        <h1>We accept:</h1> <br>

    </div>
    <hr>
    <div class="row copy-right">

        <div class="col-10 ">
            <p class="text">© 2020, Almayas Website. Made with passion </p>
        </div>
        <div class="col-2">
            <p class="text"> All Rights Reserved. </p>
        </div>
    </div>
</div>
<!-- end footer -->