<div class="first-part">
        <!-- start nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light block">
            <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-search " aria-hidden="true" style="color: #fff;"></i></a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="background-color: black;">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Perfumes</a>
                    </li>
                    <li class="nav-item logos">
                        <img src="assets/img/MAYASss.png" width="130" height="55">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">New arrivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Best Seller</a>
                    </li>
                </ul>
                <div class="right-form">
                    <i class="far fa-heart pos-rel1"></i>
                    <p>o.oo5</p>
                    <i class="fa fa-lock pos-rel2" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        </nav>
        <!-- end navbar -->
        <div class="container">

        <div class="log">
            <div class="content">
                <img src="assets/img/logo.png" width="500" height="500">

            </div>
        </div>

        <div class="shape">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>


        <div class="data">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="first">
                        <div class="pic">
                        </div>
                        <div class="words">
                            <p>Almayas perfume</p>
                            <h1>French perfumes
                                from <span> $14.99</span></h1>
                        </div>
                        <div class="button">
                            <button type="button" class="btn btn-primary btn-sm">Go shopping <i
                                    class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mr-t">
                    <div class="second ">
                        <div class="pic2">
                            <span>SALE</span>
                            <span class="abs">Quick view</span>
                        </div>
                        <div class="words">
                            <h2>Women Perfume</h2>
                            <h3><span>250.00$</span> 120.00$</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="second">
                        <div class="pic2">
                            <span>SALE</span>
                        </div>
                        <div class="words">
                            <h2 style="margin-top: 30px;">Almayas Perfume</h2>
                            <h2>Limited Edition - Almayas</h2>
                            <h3><span>139.00$</span> 68.00$</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end first part -->

<!-- start sec part -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="second"  id="bg">
                <div class="pic2">
                    <span>SALE</span>
                    <span class="abs2">Quick view</span>
                </div>
                <div class="words words2">
                    <h2 style="margin-top: 30px;">French Perfume</h2>
                    <h2>MYS 2020 limited edition</h2>
                    <h3><span>89.00$</span> 27.00$</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12 ">
            <div class="second " id="bg">
                <div class="pic2">
                    <span>SALE</span>
                </div>
                <div class="words words2">
                    <h2>French Perfume</h2>
                    <h2> 2020 limited edition</h2>
                    <h3><span>250.00$</span> 117.00$</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="write">
              
                <div class="words">
                    <p>New Arrival 2020 </p>
                    <h1 > Elegant & magnification perfumes

                         form <span> $98.99</span></h1>
                </div>
                <div class=" bts">
                    <button type="button" class="btn btn-dark btn-sm">Go shopping <i
                            class="fa fa-angle-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

    </div>
</div>
<!-- end sec part -->
<!-- <img src="assets/img/logo.png" -->